<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	<!-- 自动扫描所有service,controller包的下的类 -->
	<context:component-scan
		base-package="cn.appsys.service,cn.appsys.controller" />

	<mvc:annotation-driven>
		<mvc:message-converters>
			<!-- 消息转换器 :处理中文乱码-->
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=utf-8</value>
					</list>
				</property>
			</bean>
			<!-- 处理时间格式 yyyy-MM-dd HH:mm:ss -->
			<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter"> 
				<property name="supportedMediaTypes"> 
					<list> 
						<value>application/json;charset=utf-8</value> 
						<value>text/html;charset=utf-8</value> 
						<value>application/xml;charset=utf-8</value> 
					</list> 
				</property> 
				<property name="features">
					 <list> 
					 	<value>WriteDateUseDateFormat</value> 
					 </list> 
				</property> 
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<!-- 静态资源引用 -->
	<mvc:resources location="/statics/" mapping="/statics/**" />
	<!-- 全局异常处理 -->
	<bean
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Exception">error</prop>
			</props>
		</property>
	</bean>

	
	<!-- 多视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="favorParameter" value="true" />
		<property name="mediaTypes">
			<map>
				<entry key="html" value="text/html;charset=utf-8"></entry>
				<entry key="json" value="application/json;charset=utf-8"></entry>
				<entry key="xml" value="application/xml;charset=utf-8"></entry>
				<entry key="pdf" value="application/pdf;charset=utf-8" />
			</map>
		</property>
		<!-- <property name="defaultViews">
			<list>
				JSON View
				<bean
					class="org.springframework.web.servlet.view.json.MappingJacksonJsonView">
				</bean>
				XML view
				<bean class="org.springframework.web.servlet.view.xml.MarshallingView">
					<constructor-arg>
						<bean class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
							<property name="classesToBeBound">
								<list>
									<value>pojo.User</value>
								</list>
							</property>
						</bean>
					</constructor-arg>
				</bean>
				PDF view
				<bean class="view.PdfView" />

			</list>
		</property> -->
		<!-- <property name="ignoreAcceptHeader" value="true" /> -->

		<property name="viewResolvers">
			<bean
				class="org.springframework.web.servlet.view.InternalResourceViewResolver">
				<property name="prefix" value="/WEB-INF/jsp/"></property>
				<property name="suffix" value=".jsp"></property>
			</bean>
		</property>
	</bean>
	
	<!--拦截器  -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/sys/**"></mvc:mapping>
			<bean class="cn.appsys.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	
	
   </beans>     
        
        